{% extends "layout.html" %}
{% block content %}
<center>
<div>
	<img src="logo.jpg" alt="logo" width="25%" height="20%">
</div>

<div class="navbar" style="margin-top:-2%; width:50%;">
	<a class="active" href="{{ url_for('home') }}"><b> Home </b></a> 
  	<a href="{{ url_for('review') }}"><b> View </b></a> 
  	<a href="{{ url_for('add') }}"><b> Add </b></a>
  	<a href="{{ url_for('translates') }}"><b> Translate </b></a> 
</div>	

<div class="container-fluid" style="width:80%; height:50%;">
  <div id="MORECarousel" class="carousel slide" data-ride="carousel" data-interval="2000">
    <ol class="carousel-indicators">
      <li data-target="#MORECarousel" data-slide-to="0" class="active"></li>
      <li data-target="#MORECarousel" data-slide-to="1"></li>
      <li data-target="#MORECarousel" data-slide-to="2"></li>
      <li data-target="#MORECarousel" data-slide-to="3"></li>
      <li data-target="#MORECarousel" data-slide-to="4"></li>
      <li data-target="#MORECarousel" data-slide-to="5"></li>
      <li data-target="#MORECarousel" data-slide-to="6"></li>
      <li data-target="#MORECarousel" data-slide-to="7"></li>
      <li data-target="#MORECarousel" data-slide-to="8"></li>
    </ol>
    <div class="carousel-inner">
      <div class="item active">
        <img src="Poster1.jpg" alt="First slide" style="width:100%; height:50%;" >
      </div>

      <div class="item">
        <img src="Poster2.jpg" alt="Second slide" style="width:100%; height:50%;">
      </div>
    
      <div class="item">
        <img src="Poster3.jpg" alt="third slide" style="width:100%; height:50%;">
      </div>

      <div class="item">
        <img src="Poster4.jpg" alt="fourth slide" style="width:100%; height:50%;">
      </div>

      <div class="item">
        <img src="Poster5.jpg" alt="fifth slide" style="width:100%; height:50%;">
      </div>

      <div class="item">
        <img src="Poster6.jpg" alt="Sixth slide" style="width:100%; height:50%;">
      </div>

      <div class="item">
        <img src="Poster7.jpg" alt="Seventh slide"  style="width:100%; height:50%;">
      </div>

      <div class="item">
        <img src="Poster8.jpg" alt="Eigth slide" style="width:100%; height:50%;">
      </div>

      <div class="item">
        <img src="Poster9.jpg" alt="Ninth slide" style="width:100%; height:50%;">
      </div>
    </div>

    <a class="left carousel-control" href="#MORECarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#MORECarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

</center>
{% endblock %}